.footer{
    background-color: rgba(81, 79, 79, 0.56);
    padding: 80px 0;
    .footer-row{
        display: flex;
        flex-wrap: wrap;
        }
    .footer-links{
         width: 25%;
        padding: 0 15px;
        }
    .footer-links h4{
        font-size: 1.2rem;
        color: white;
        margin-bottom: 25px;
        font-weight: 500;
        border-bottom: 2px solid $secondarycolor;
        padding-bottom: 10px;
        display: inline-block;
        }
    .footer-links ul li a{
        font-size: 1rem;
        text-decoration: none;
        color: #16161c;
        display: block;
        margin-bottom: 15px;
        transition: all .3s ease;
        }
    .footer-links ul li a:hover{
                color: #6792c9;
                padding-left: 6px;
            }

}