@media screen and (max-width:480px) {
    .caja{
        max-height: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr 1fr 1fr);
        grid-template-areas: 
           "box1 box3 box5" 
           "box2 box4" ;
        padding-top: 50px;
        margin: auto;
    }
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}
