*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'chivo mono', monospace;
    
    &::selection{
        background-color: rgb(28, 60, 205);
        color: rgb(233, 230, 228);
    }
}